<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>WKCC Detox Bot</title>
</head>
<body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.19.0/feather.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='chat.css') }}">

<script>
  username = "";
  $(document).ready(function(){
    $("input.username").keyup(function(event) {
      if (event.keyCode === 13) {
        $("input.username").blur();
        $('div.chatbox').append('<div><b style="color: #ff0000">' + username + '</b> ' + 'toxic message >> ' + "Message" + '</div>')
        window.scrollTo(0,document.querySelector("#chatbox").scrollHeight);
      }
    });
  });
  function changeName(name) {
    username = name
  }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script type="text/javascript">

  function printMessage(msg) {
    if (msg.is_toxic == '1')
      $('div.chatbox').append('<div><b style="color: #ff0000">' + msg.username + '</b> ' + 'toxic message >> ' + msg.message + '</div>')
    else
      $('div.chatbox').append('<div><b style="color: #000">' + msg.username + '</b> ' + msg.message + '</div>')

  }
  function sendMessage(msg) {
    // e.preventDefault()
    let user_name = $('input.username').val();
    let user_input = $('input.message').val();
    socket.emit('my event', {
      username: user_name,
      message: user_input,
      is_toxic: ''
    });
    $('input.message').val('').focus();
  }

  var socket = io.connect(location.protocol + '//' + location.hostname + (location.port ? ':' + location.port: ''));

  socket.on('connect', function () {
    socket.emit('my event', {
      username : '',
      message: 'User Connected',
      is_toxic: ''
    });

  });
  socket.on('my response', function (msg) {
    console.log('on javascript ==> username:' + msg.username + ', message:' + msg.message + ', is_toxic:' + msg.is_toxic)
    if (typeof msg.username !== 'undefined' && msg.username != '') {
      // $('h3').remove()
      printMessage(msg);
    }
  });

</script>

<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
    <img src="{{ url_for('static', filename='logo.jpg') }}" align="left" height="30" alt="">
  </a>
  <input class="username form-control form-control-dark w-100" type="text" placeholder="User Name" aria-label="User Name" onchange="changeName(this.value); this.blur()">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Channels</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="users"></span>
              Web Chat
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="users"></span>
              Twitch Bot
            </a>
          </li>

        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Twitch Bot</h1>
      </div>
      <div class="chatbox">
        <div><b style="color: #ff0000">Kevin</b>
          toxic message >>  test
        </div>
        <div><b style="color: #000">Wonhee</b>
          Normal message
        </div>

      </div>

      <!--      <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>-->

    </main>
  </div>
</div>
<nav class="navbar navbar-dark fixed-bottom bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"></a>
  <input class="message form-control form-control-dark w-100" type="text" placeholder="Message" aria-label="Message"
         onchange="sendMessage(this.value);">
  <ul class="navbar-nav px-3">
    <!--    <li class="nav-item text-nowrap">-->
    <!--      <a class="nav-link" href="#">Sign out</a>-->
    <!--    </li>-->
  </ul>
</nav>

<script>
  feather.replace()
</script>
</body>
</html>